@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin pageHeader(
  $font-size: 1.75rem, 
  $line-height: 2.25rem,
  $font-weight:600,
) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin subHeader(
  $font-size: 1.25rem,
  $line-height: 1.75rem,
  $font-weight:600,
) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}


@mixin bodyCopy(
  $font-size: 0.813rem,
  $line-height: 1.125rem,
  $font-weight: 600,
) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
@mixin labels(
  $font-size: 0.813rem, 
  $line-height: 1.25rem,
  $font-weight:600,
 ) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin tableHeader(
  $font-size: 0.688rem, 
  $line-height: 1rem,
  $font-weight:600,
 ) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin bodyLarge(
  $font-size: 0.938rem, 
  $line-height: 1.625rem,
  $font-weight:600,
 ) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin bodyMedium(
  $font-size: 0.813rem, 
  $line-height: 1.25rem,
  $font-weight:400,
 ) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin bodySmall(
  $font-size: 0.688rem, 
  $line-height: 1rem,
  $font-weight:400,
 ) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}