$White-smoke: #F8f8f8;
$floral-white:#FEFAF5;
$dark-magenta:#8b008b;
$Mint-Green: #4CAF50;
$gold:#ffd700;
$grey: #777777;
$black:#000000;
$davys-grey:#555555;
$dark-blue:#060b26;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;