@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.attractiondetails {
    
      padding: 1.25rem;
      border-radius: 0.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      max-width: 62.5rem;
      width: 100%;
      text-align: left;
      color: white;

    
    &__title {
        margin-top: 0.625rem;
        font-size: 1.125rem;
        font-weight: bold;
        color: black;
    }

    &__city {
        margin-top: 0.313rem;
        font-size: 0.875rem;
        color: black;
    }
    &__name {
        margin-top: 0.313rem;
        font-size: 0.875rem;
        color: black;
    }
    &__description {
        margin-top: 0.625rem;
        font-size: 0.875rem;
        color: black;
        }
  

    &__button {
        margin-top: 0.938rem;
        align-self: flex-end;
        padding: 0.625rem 1.25rem;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}
