@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.attractiondetails {
      padding: 1.25rem;
      border-radius: 0.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: $White-smoke;
      max-width: 62.5rem;
      text-align: left;
      color: $White-smoke;
      margin:0 1rem;
      @include tablet{
        max-width: 50rem;
        margin: 0 2rem 0 4rem;
      }

    
    &__title {
        margin-top: 0.625rem;
        font-size: 2rem;
        font-weight: 700;
        color: $black;
    }

    &__city {
        margin-top: 0.313rem;
        font-size: 1rem;
        font-weight: 500;
        color:$black;
    }
    &__name {
        margin-top: 0.313rem;
        font-size: 1rem;
        color:$black;
    }
    &__description {
        margin-top: 0.625rem;
        font-size: 1rem;
        color: $black;
        }

    &__container{
        display: flex;
    }
    &__sub-container{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    &__url{  
            color: $dark-blue; 
            text-decoration: none;
          }
          
          &__map {
            width: 2rem; 
            height: auto; 
            margin-right: 5px; 
          }
  

    &__button {
        margin-top: 0.938rem;
        margin-left: 1rem;
        align-self: flex-end;
        padding: 0.5rem 1.2rem;
        background-color: $Mint-Green;
        color: $White-smoke;
        border: none;
        border-radius: 0.25rem;
        font-size: 0.8rem;
        @include tablet{
            margin: 0 0 0 32rem ;
        }
    }
}
