@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;



.header {
    &__logo{
      width:4rem;
      top:1rem;
      left:1rem;
      position: absolute;
      border-radius: 30%;
    }
    
    &__menu-bars {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      background: none;
      color: $White-smoke;
      
    }
  
    &__menu {
      background-color: $dark-blue;
      width: 15.625rem;
      height: 100vh;
      display: flex;
      flex-direction: column; 
      position: fixed;
      top: 0;
      right: -100%;
      transition: 850ms;
      z-index: 1; 
    }
  
    &__menu.active {
      right: 0; 
      height: 100vh;
    }
  
    &__items {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    &__items li {
      padding: 1rem;
      border-bottom: 1px solid $White-smoke;  
    }
  
    &__items li:last-child {
      border-bottom: none; 
    }
  
    &__items li a {
      color: $White-smoke;
      text-decoration: none;
      display: flex;
      align-items: center;

    }
     li a span {
      margin-left: 1rem; 
    }
  
    &__toggle {
      display: flex;
      justify-content: flex-end; 
    }
  
    &__bars {
      color: $White-smoke;
    }
  }
  

