@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

*{
    box-sizing: border-box;
}

body{
    font-family: "TitilliumWeb";
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
  
   
}
.home{
    left:0;
    right:0;
   width:100%;
   height:100vh;

   &__video{
    width:100%;
    height:100%;
    background-position: center;
    background-size: contain;
    object-fit:fill;
    opacity: 0.9;
    @include tablet{
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: 1.9;
    }
   }
}
