@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

*{
    box-sizing: border-box;
}

body{
    font-family: "TitilliumWeb";
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url("./assets/Images/backgroundimg.jpg");
    // background-color: burlywood;
    margin: 0;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
  
   
}