body{
    font-family: "TitilliumWeb";
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/Images/backgroundimg.jpg");
    margin: 0;
  //  background-color: green;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   //  @include tablet{
   //     background-size: cover;
   //  }
   //  @include desktop{
   //     background-size: cover;
   //  }
   
}